<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <%= image_tag item.image.variant(resize: '450x300!', gravity: :center).processed, alt: item.image.filename %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= link_to item.name, item %></h5>
        <!-- Product price-->
        <% if item.sale_price.present? %>
          <span class="text-muted text-decoration-line-through"><%= "$#{format("%.2f", item.catalog_price)}" %></span>
          <%= "$#{format("%.2f", item.sale_price)}" %>
        <% else %>
          <%= "$#{format("%.2f", item.catalog_price)}" %>
        <% end %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= button_to 'Add Cart', carts_path(item_id: item.id, quantity: 1), class: 'btn btn-outline-dark mt-auto' %>
      </div>
    </div>
  </div>
</div>
