<body>
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <%= image_tag @item.image.variant(resize: '600x700!', gravity: :center).processed, alt: @item.image.filename %>
        </div>
        <div class="col-md-6">
          <div class="small mb-1"><%= "SKU: #{@item.code}" %></div>
          <h1 class="display-5 fw-bolder"><%= @item.name %></h1>
          <div class="fs-5 mb-5">
            <!-- Product price-->
            <% if @item.sale_price.present? %>
              <span class="text-muted text-decoration-line-through"><%= "$#{format("%.2f", @item.catalog_price)}" %></span>
              <%= "$#{format("%.2f", @item.sale_price)}" %>
            <% else %>
              <%= "$#{format("%.2f", @item.catalog_price)}" %>
            <% end %>
          </div>
          <p class="lead"><%= @item.description %></p>
          <div class="d-flex">
            <%= form_with url: carts_path(item_id: @item.id), local: true, data: {turbo: false} do |f| %>
              <%= f.number_field :quantity, class: 'form-control text-center me-3', id: 'inputQuantity', value: 1, step: '1', min: '1', required: true %>
              <%= f.button type: "submit", class: 'btn btn-outline-dark flex-shrink-0' do %>
                <i class="bi-cart-fill me-1"></i>
                Add to cart
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% @related_products.each do |related_product| %>
          <%= render partial: 'item_thumbnail', locals: { item: related_product } %>
        <% end %>
      </div>
    </div>
  </section>
</body>
