<!-- Navigation-->
<div style="position: sticky; position: -webkit-sticky; top: 0; z-index: 10;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">Bootstrap導入</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">ホーム</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">会社案内</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">通販サイト</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= items_path %>">商品一覧</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#!">人気商品</a></li>
              <li><a class="dropdown-item" href="#!">新着商品</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">管理</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= admin_products_path %>">商品一覧</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="<%= new_admin_product_path %>">商品作成</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="<%= admin_orders_path %>">注文一覧</a></li>
            </ul>
          </li>
        </ul>
        <%= link_to carts_path , class: "btn btn-outline-dark" do %>
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill"><%= current_cart.cart_item_quantity %></span>
        <% end %>
      </div>
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <div class='flash'>
      <div class='alert alert-<%= key %>'> <%= value %>
      </div>
    </div>
  <% end %>
</div>
